POSTGRES_DB=umclick
POSTGRES_USER=umclick
POSTGRES_PASSWORD=umclick
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=dev-secret-key
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
FRONTEND_JOIN_BASE=http://localhost:3000/join
DJANGO_TIME_ZONE=UTC
